* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "header"
        "nav"
        "main"
        "aside"
        "footer"
    ;
}

header {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
}

#box {
    background-color: yellow;
    width: 20px;
    height: 20px;
    border: solid 1px red;
}

nav {
    grid-area: nav;
    background-color: red;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    background-color: yellow;

}

section {
    display: flex;
    flex-direction: column;
    background-color: greenyellow;
    gap: 8px;
    padding: 8px;
}

article {
    background-color: gray;
    height: 50px;
}

aside {
    background-color: blue;
    grid-area: aside;
}

footer {
    background-color: blueviolet;
    grid-area: footer;
}

@media(min-width: 768px) {
    body {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        grid-template-areas:
            "header header"
            "nav nav"
            "aside main"
            "footer footer"
        ;
    }
}