*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
}

.container{
    width: 100vw;
    height: 50vh;
    border: solid 1px black;
    background-color: #d6d3d352;
}

#top{
    border: solid 2px black;
    display: flex;
    justify-content: space-between;
    align-items: start;

}

#bottom{
    border: solid 2px black;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.box{
    border: solid 2px black;
    width: 400px;
    height: 250px;
}

.circle{
    border: solid 2px black;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: red;
}

#uno{
    display: flex;
    justify-content: center;
    align-items: center;
}
#dos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#tres{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#cuatro{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#cuno{
    grid-area: 1/1;
    place-self: start start;
}
#cdos{
    grid-area: 2/2;
    place-self: center center;
}
#ctres{
    grid-area: 3/3;
    place-self: end end;
}