*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 200vh;
    border: solid 1px black;
    background-color: #fffbfb;
}

.box1{
    width: 700px;
    height: 500px;
    border-radius: 50%;
    background-color: #033eff;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box2{
    width: 700px;
    height: 400px;
    background-color: #033eff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}